<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.animationsplash">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UIET"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".InternationalActivity" />
        <activity android:name=".PlacementActivity" />
        <activity android:name=".BlogActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".ChromeActivity" />
        <activity android:name=".MapAcitivity" />
        <activity android:name=".MMDUinfoinImage" />
        <activity
            android:name=".OnclickHomeActivity"
            android:label="@string/title_activity_onclick_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StudentActivity" />
        <activity
            android:name=".BottomActivity"
            android:label="@string/title_activity_bottom" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>